# Lab | Data Structuring and Combining Data

%%writefile functions.py

import pandas as pd



def lowercase_headers_and_replace_spaces(df: pd.DataFrame) -> pd.DataFrame:
    """
    Convert the column headers of a DataFrame to lowercase and replace empty spaces with underscores.

    Parameters:
    - df: pandas DataFrame

    Returns:
    - DataFrame with lowercase headers and spaces replaced by underscores
    """
    
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    return df

def delete_unamed_column(df: pd.DataFrame) -> pd.DataFrame:
    '''
    This function takes a Pandas DataFrame as input, and creates an internal copy.
    Then on the interal copy it checks wheter or not contains a column named "Unnamed: 0".
    If it exists, deletes the column and returns the modified DataFrame, otherwise returns
    the original DataFrame.

    Inputs:
    df: Pandas DataFrame

    Output:
    Modified Pandas DataFrame
    '''
    
    if "unnamed:_0" in df.columns:
        df = df.drop("unnamed:_0", axis=1)

    return df

def convert_st_to_state(df: pd.DataFrame) -> pd.DataFrame:
    """
    Convert the column header 'st' to 'state' if present in the DataFrame.

    Parameters:
    - df: pandas DataFrame

    Returns:
    - DataFrame with 'st' header replaced by 'state' if 'st' is present
    """
    st_variations=["st","ST","sT"]
    
    for col in df.columns:
        if col in st_variations:
            df.rename(columns={'st': 'state'}, inplace=True)
    return df

def dropna_column(df: pd.DataFrame,col="customer") -> pd.DataFrame:
    """
    This function drops NaN values of a column
    
    Parameters:
    - df: pandas DataFrame
    - column name: string, if not given applies to the column "customer"

    Returns:
    - Returns df with no NaN on the selected column
    """
    df.dropna(subset=[col], inplace=True)
    return df

def convert_st_to_state(df: pd.DataFrame) -> pd.DataFrame:
    """
    Convert the column header 'st' to 'state' if present in the DataFrame.

    Parameters:
    - df: pandas DataFrame

    Returns:
    - DataFrame with 'st' header replaced by 'state' if 'st' is present
    """
    st_variations=["st","ST","sT"]
    
    for col in df.columns:
        if col in st_variations:
            df.rename(columns={'st': 'state'}, inplace=True)
    return df

def clean_gender(df: pd.DataFrame, col_name="gender") -> pd.DataFrame:
    '''
    This function will take a Pandas DataFrame as an input and it will replace the values in
    the specified column (default is "GENDER") in such a way that any gender which is not 
    "Male" or "Female" will be replaced by "U". If the gender starts with "M" or "F", it 
    will be replaced by the respective uppercase letter.

    Inputs:
    df: Pandas DataFrame
    col_name: str, the name of the column to clean (default is "GENDER")

    Outputs:
    A pandas DataFrame with the values in the specified column cleaned.
    '''
    uni = []
    for x in df[col_name]:
        if pd.isna(x):
            uni.append("U")
        elif x[0].upper() in ["M", "F"]:
            uni.append(x[0].upper())
        else:
            uni.append(x)
            # x=x[0].upper()

    df[col_name] = uni
    return df

def remove_perc_symbol(df: pd.DataFrame,col="customer_lifetime_value") -> pd.DataFrame:
    
    """
    Remove symbols from numerical values in a DataFrame.

    Parameters:
    - df: pandas DataFrame

    Returns:
    - DataFrame with symbols removed from numerical values
    """
    df[col]=df[col].astype(str)
    df[col] = df[col].str.replace("%","")
    return df

def middle_value_slashes(df: pd.DataFrame,col="number_of_open_complaints") -> pd.DataFrame:
    """
    pics the value in the middle if a cell contains 2 slashes,e.g. X/Y/Z

    Parameters:
    - df: pandas DataFrame

    Returns:
    - Returns value in the middle.
    """
    col2 = []
    df[col]=df[col].astype(str)
    for x in df[col]:
        if "/" in x:
            col2.append(x.split('/')[1])
        else:
            col2.append(x)
    df[col] = col2
    return df

def fillna_median(df: pd.DataFrame,col:"string") -> pd.DataFrame:
    '''
    This function fills the NaN values with the median of the column
    
    Parameters:
    df: dataframe
    col: column name to be applied on
    
    Returns:
    
    df with NaN values replace by the median.
    '''
    median_col = df[col].median()
    df[col]=df[col].fillna(median_col)
    return df

def clean_bachelor(df: pd.DataFrame,col="education") -> pd.DataFrame:
    ''''
    This function removes the tail "s" from "Bachelors"
    
    Parameters:
    
    input: 
    
    Dataframe
    column name optional, if not provided education will be defined.
    '''
    col2 = []
    for word in df[col]:
        if word == "Bachelors":
            col2.append(word[:-1])
        else:
            col2.append(word)
    df[col] = col2
    return df

def replace_with_luxury(df: pd.DataFrame,col="vehicle_class") -> pd.DataFrame:
    

    luxury_types = ["Sports Car", "Luxury SUV", "Luxury Car"]
    col2 = []
    for v_class in df[col]:
        if v_class in luxury_types:
            col2.append("Luxury")
        else:
            col2.append(v_class)
    df[col] = col2
    return df

def state_abbrev(df: pd.DataFrame,col="state") -> pd.DataFrame:
    '''
    This function replaces the abbreviations for specific states with the full names
    
    Parameters:
    
    Dataframe
    Column: if not provided takes state as optional
    
    Returns: dataframe
    
    '''
    vals_to_replace = {"AZ":"Arizona","Cali":"California","WA":"Washington"}
    df["state"]=df["state"].replace(vals_to_replace)
    display(df.state.value_counts())
    return df
  

def clean_dataframe(df: pd.DataFrame) -> pd.DataFrame:
    '''
    This function will take a Pandas DataFrame and it will apply the previous functions in the library
    to clean some columns of the dataframe

    Inputs: 
    df: Pandas DataFrame

    Outputs:
    Another DataFrame
    '''
  
    df = delete_unamed_column(df)
    df = lowercase_headers_and_replace_spaces(df)
    df = convert_st_to_state(df)
    df = dropna_column(df)
    df = clean_gender(df)
    df = middle_value_slashes(df)
    df = remove_perc_symbol(df)
    df = clean_bachelor(df)
    df = replace_with_luxury(df)
    df = state_abbrev(df)
    return df

For Challenge 1, you can either use data which has already been cleaned (option 1) or clean it yourself (option 2).

## Challenge 1: Combining Data (Option 1)

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the following links:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2_clean.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3_clean.csv

Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

Verify that the customer_data dataframe contains all the rows and columns from the three original dataframes.

## Challenge 1: Combining & Cleaning Data (Option 2)

If in the previous lab you created your cleaning and formatting function, or if you want to do it now, instead of using the two clean files provided above, you can use your function to clean and format the data in these two raw files below:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
from functions import *

In [2]:
import pandas as pd

In [3]:
# We read all 3 files and try to get an overview of the info on each file.

file1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
display(file1.shape)
display(file1.info())

file2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
display(file2.shape)
display(file2.info())

file3 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")
display(file3.shape)
display(file3.info())

(4008, 11)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

None

(996, 11)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   996 non-null    object
 1   ST                         996 non-null    object
 2   GENDER                     991 non-null    object
 3   Education                  996 non-null    object
 4   Customer Lifetime Value    992 non-null    object
 5   Income                     996 non-null    int64
 6   Monthly Premium Auto       996 non-null    int64
 7   Number of Open Complaints  996 non-null    object
 8   Total Claim Amount         996 non-null    float64
 9   Policy Type                996 non-null    object
 10  Vehicle Class              996 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 85.7+ KB

None

(7070, 11)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7070 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   7070 non-null   object
 1   State                      7070 non-null   object
 2   Customer Lifetime Value    7070 non-null   float64
 3   Education                  7070 non-null   object
 4   Gender                     7070 non-null   object
 5   Income                     7070 non-null   int64
 6   Monthly Premium Auto       7070 non-null   int64
 7   Number of Open Complaints  7070 non-null   int64
 8   Policy Type                7070 non-null   object
 9   Total Claim Amount         7070 non-null   float64
 10  Vehicle Class              7070 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 607.7+ KB

None

In [4]:
# I choose the 2nd option of getting the raw files, as they are, and clean them before concatenating them

# Some pre-analysis before cleaning the data

In [5]:
# We concatenate the files as they are, in order to check if they have the same amount of columns. We see that the concat has 13 instead of 11, due to the inconsistency of the names
concat_files = pd.concat([file1,file2,file3])
display(concat_files.columns)
print("The concat file has: ",concat_files.shape[1], "columns")
print("The original files have:",file1.shape[1], "columns")

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount', 'State',
       'Gender'],
      dtype='object')

The concat file has:  13 columns
The original files have: 11 columns

In [6]:
# We can also see with the script below that columns of all 3 files do not match
file1.columns.sort==file2.columns.sort==file3.columns.sort

False

In [7]:
# We check on the duplicates. We seem only to have duplicates on file 1, which correspond to the empty cells filled with ,,,
print("File 1 has ",file1.duplicated().sum(), " duplicated rows.")
print("File 2 has ",file2.duplicated().sum(), "duplicated rows.")
print("File 3 has ",file3.duplicated().sum(), "duplicated rows.")

File 1 has  2936  duplicated rows.
File 2 has  0 duplicated rows.
File 3 has  0 duplicated rows.

In [8]:
# We proceed with the application of our master function "clean_dataframe" to each file/dataset

clean1 = clean_dataframe(file1)
clean2 = clean_dataframe(file2)
clean3 = clean_dataframe(file3)

In [9]:
display(clean1.columns)
display(clean1.shape)
display(clean2.columns)
display(clean2.shape)
display(clean3.columns)
display(clean3.shape)

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

(1071, 11)

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'],
      dtype='object')

(996, 11)

Index(['customer', 'state', 'customer_lifetime_value', 'education', 'gender',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'total_claim_amount', 'vehicle_class'],
      dtype='object')

(7070, 11)

In [10]:
#### We show the data of the concatenated cleand file, to get an overview of the dtypes, size and shape of it.
# It contains 11 colums, as the original 3 files and 9137 rows, which is the addition of 1071 (cleaned file1) + 996 file2 + 7070 file 3

concat_clean = pd.concat([clean1,clean2,clean3])
concat_clean.head()
concat_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9137 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9137 non-null   object
 3   education                  9137 non-null   object
 4   customer_lifetime_value    9137 non-null   object
 5   income                     9137 non-null   float64
 6   monthly_premium_auto       9137 non-null   float64
 7   number_of_open_complaints  9137 non-null   object
 8   policy_type                9137 non-null   object
 9   vehicle_class              9137 non-null   object
 10  total_claim_amount         9137 non-null   float64
dtypes: float64(3), object(8)
memory usage: 856.6+ KB

In [30]:
concat_clean.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,U,Master,7.714877e+03,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6.979536e+05,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1.288743e+06,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7.645862e+05,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5.363077e+05,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323

In [27]:
# We check some of the columns to make sure that the conflicting values have been replaced
display(concat_clean.state.unique())
display(concat_clean.gender.unique())
display(concat_clean.policy_type.unique())
display(concat_clean.vehicle_class.unique())
display(concat_clean.state.unique())

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon'],
      dtype=object)

array(['U', 'F', 'M'], dtype=object)

array(['Personal Auto', 'Corporate Auto', 'Special Auto'], dtype=object)

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury'], dtype=object)

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon'],
      dtype=object)

In [14]:
# We convert the numeric columns to a numeric dtype to be able to perform computatins later
columns_to_convert = ["customer_lifetime_value", "number_of_open_complaints","monthly_premium_auto","total_claim_amount"]
concat_clean[columns_to_convert] = concat_clean[columns_to_convert].apply(pd.to_numeric, errors='coerce')
print(concat_clean.dtypes)

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints      int64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [15]:
#We launch a info to spot possible missing values
concat_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9137 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9137 non-null   object
 3   education                  9137 non-null   object
 4   customer_lifetime_value    9130 non-null   float64
 5   income                     9137 non-null   float64
 6   monthly_premium_auto       9137 non-null   float64
 7   number_of_open_complaints  9137 non-null   int64
 8   policy_type                9137 non-null   object
 9   vehicle_class              9137 non-null   object
 10  total_claim_amount         9137 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 856.6+ KB

In [16]:
# We fill those missing values on the "customer_lifetime_value" with the median of the column, as we have seen on the previous lab.
# I was thinking about putting this into a function, but still deciding how, due to conflicting data types
fillna_median(concat_clean,"customer_lifetime_value")

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,U,Master,7.714877e+03,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6.979536e+05,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1.288743e+06,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7.645862e+05,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5.363077e+05,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,2.340599e+04,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3.096511e+03,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8.163890e+03,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7.524442e+03,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2.611837e+03,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [17]:
concat_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9137 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9137 non-null   object
 3   education                  9137 non-null   object
 4   customer_lifetime_value    9137 non-null   float64
 5   income                     9137 non-null   float64
 6   monthly_premium_auto       9137 non-null   float64
 7   number_of_open_complaints  9137 non-null   int64
 8   policy_type                9137 non-null   object
 9   vehicle_class              9137 non-null   object
 10  total_claim_amount         9137 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 856.6+ KB

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [31]:
# We read the csv file into a df and check for potential duplicates:
marketing_customer = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")
display(marketing_customer.head())
print("Number of duplicated rows on this dataframe ",marketing_customer.duplicated().sum())

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

Number of duplicated rows on this dataframe  0

In [19]:
marketing_customer = clean_dataframe(marketing_customer)

In [33]:
display(marketing_customer.isna().sum())

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [34]:
marketing_customer_channel = round(marketing_customer.pivot_table(index=["sales_channel"], values = ["customer_lifetime_value"],aggfunc = "sum"),2).reset_index()

display(marketing_customer_channel)

  sales_channel  customer_lifetime_value
0         Agent              33057887.85
1        Branch              24359201.21
2   Call Center              17364288.37
3           Web              12697632.90

In [36]:
# Analysis of the previous results:

#The 'Agent' channel seems to be performing the best in terms of customer lifetime value.
#The 'Web' channel has the lowest customer lifetime value, which could be due to various factors, such as different customer demographics or marketing strategies.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [44]:
marketing_gender_education = round(marketing_customer.pivot_table(index=["gender","education"], values = ["customer_lifetime_value"])).sort_values(by ="customer_lifetime_value",ascending=False).reset_index()
marketing_gender_education

  gender             education  customer_lifetime_value
0      F  High School or Below                   8675.0
1      M                Master                   8169.0
2      F                Master                   8157.0
3      M  High School or Below                   8150.0
4      M               College                   8052.0
5      F              Bachelor                   7874.0
6      F               College                   7749.0
7      M              Bachelor                   7704.0
8      M                Doctor                   7415.0
9      F                Doctor                   7329.0

In [ ]:

# Analysis: Seems as if High school has the highest avg for combined customer lifetime value if we consider both genders, 
# followed up by Master education, which have a very compensated value between both genders.
# Distribution between genders within each education level seems to be homogeneously distributed, with less than 4% of difference.
# This gap is larger for an education of High School or Below, with 6,5% higher CLV for females.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table. # use agg count to get the number

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [24]:
marketing_customer.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size', 'vehicle_type', 'month'],
      dtype='object')

In [67]:
# We create a df with the number of 
complain_policy = marketing_customer.pivot_table(index=["policy_type","month"], values = ["number_of_open_complaints"],aggfunc = ['count']).reset_index()
display(complain_policy)

      policy_type month                     count
                        number_of_open_complaints
0  Corporate Auto     1                      1252
1  Corporate Auto     2                      1089
2   Personal Auto     1                      4329
3   Personal Auto     2                      3799
4    Special Auto     1                       237
5    Special Auto     2                       204